# These variables are only available in your SST code.
# To apply them to your Lambda functions, checkout this doc - https://docs.serverless-stack.com/environment-variables#environment-variables-in-lambda-functions

MY_ENV_VAR=i-am-an-environment-variable

AWS_REGION="us-east-2" # update with valid AWS region. For now us-east-2 is best for dev
AWS_ACCESS_KEY_ID="" # update with valid access key ID
AWS_ACCOUNT_ID="" # update with EcoCart account ID